extends base.pug

block scripts
    script(src='/static/index.js')

block style
    style
      include ../static/style.css

block content 
    
    section#introSection
        div Welcome to Best Dance Academy
        div.small Eat Sleep Dance Repeat

    section#missionSection 
        h2 Our Mission 
        div.card 
          h3 Dance Perfection
          div.card-box 
            div.card-img 
              img(src="/static/bg_3.png")
            div.card-content 
              p This is the best dance academy of the universe   
            
        div.card 
          h3 Dance the way you like
          div.card-box 
            div.card-img 
              img(src="/static/bg_2.jpg")
            div.card-content 
              p This is the best dance academy of the universe   
        div.card 
          h3 Expert Teaching
          div.card-box 
            div.card-img 
              img(src="/static/bg_1.jpg")
            div.card-content 
              p This is the best dance academy of the universe   

      
        

    section#sponsersSection
        h2 Our Sponsors
        div#sponsors
          img(src="/static/apple.png", alt="Sponsors Image", Class="spImage")
          img(src="/static/skype-logo.png", alt="Sponsors Image", Class="spImage")
          img(src="/static/hp-logo.png", alt="Sponsors Image", Class="spImage")
          img(src="/static/microsoft.jpg", alt="Sponsors Image", Class="spImage")          